body{
    background-color:blanchedalmond ;
}
.display{
    background-color: green;
    width: 350px;
    margin:0;
    height: 40px;
    border: 5px outset darkslategrey;
    text-align: right;
}

.buttons{
    background-color: lightseagreen;
    width: 350px;
    height: 300px;
    margin: 0;
    border: 5px inset hotpink;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);

    
}

.operators{
    display: contents;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    
}

.operator{
    background-color: darkmagenta;
    display: ;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */

    
}

button:hover {
    background-color: hotpink;
}

.Calculator{
    border: 10px groove black;
    width: 360px;
    height: 360px;
    margin: auto;
    align-items: center;
}

/* Buttons{
    font-size: 20px;
} */